.row
  .span12
    %br
    %center
      #searchlink About


.container
  .span12
    %br
    %h4 The Site
    %p This website displays live enrollment data from schedule.berkeley.edu. This means we fetch the data from the live enrollment links and display them directly in your search results. To search for a class, input a department and class number or a CCN. You can verify your search by clicking the links on the results page. 

    %br
    %h4 Issues
    %p The site often will not work late at night or on Sundays due to Berkeley server maintenance. A known issue is that sometimes 0/0 enrollment is displayed if the Berkeley servers cannot handle so many requests. If schedule.berkeley.edu is working fine (specifically, the live enrollment pages), but our site isn't, please contact us (see below).
    %br
    %p The site may be a bit slow depending on the number of people using it. Keep in mind that we have to load every live enrollment page in the background, so expect to wait up to 15 seconds, depending on the size of your search. If you search a single class, it should take only a second or two.

    %br
    %h4 Contact
    %p If there are any issues with the website or if you have any feature requests, please email us at bschedulelive@gmail.com. We are really open to suggestions since we're still very new to web development and aren't particularly gifted in web design.