:ruby
	fields = [
		['dept', 		'Department', 			'CHEM, POL SCI, MCELLBI'],
		['course_num', 	'Course Number', 		'1A, H7A, 103, 160B, 25AC'],
		['course_title','Course Title', 		'CALIF, DATABASE, ENVIRON'],
		['instructor', 	'Instructor', 			'SMITH, GREEN'],
		['final', 		'Final', 				'7, 22, NONE, TBA'],
		['ccn', 		'CCN', 					'00507, 12345'],
		['days', 		'Day(s) of the Week', 	'M, TuTh, MTWTF'],
		['hours', 		'Hour(s)', 				'930-11, 10, 2-5'],
		['building', 	'Building Name', 		'DWINELLE, GPB, NORTH GATE'],
		['units', 		'Units/Credit', 		'2, .5, 1-10'],
		['restrictions','Restrictions', 		'NONE, FR, GR'],
		['additional', 	'Additional Info',		'SWIMMING, AMERICAN CULTURES'],
		['status', 		'Status/Last Changed', 	'UPDATED, ADDED, CANCELLED']
	]

%br
%br
%form.form-horizontal{:action => '/search', :method => 'get'}
	.control-group
		%label.control-label Semester
		.controls
			%select{:name => 'semester'}
				%option{:value => 'FL'} Fall
				%option{:value => 'SP', :selected => 'selected'} Spring
				%option{:value => 'SU'} Summer
	- fields.each do |f|
		.control-group
			%label.control-label= f[1]
			.controls
				%input.input-xlarge{:name => f[0], :type => 'text', :value => '', :placeholder => f[2]}
	.control-group
		.controls
			%button{:type => 'submit', :class => 'btn'} Search
%br
%br

-#
	.control-group
		%label.control-label Course Classifications
		.controls
			%select{:name => p_classif}
				%option{:value => 'L'} lower division (1-99)
				%option{:value => 'U'} upper division (100-199)
				%option{:value => 'G'} graduate (200-299)
				%option{:value => 'P'} professional (300-399)
				%option{:Value => 'M'} special study for masters
				%option{:Value => 'D'} special study for doctoral
				%option{:Value => 'O'} other
	.control-group
		%label.control-label Course Prefixes/Suffixes
		.controls
			%select{:name => 'p_presuf'}
				%option{:value => 'C'} 
				%option{:value => 'H'} 
				%option{:value => 'N'} 
				%option{:value => 'R'} 
				%option{:value => 'W'} 
				%option{:value => 'AC'} 