<center>
</br></br></br></br></br></br></br></br></br></br></br>
<div id="hometitle">bSchedule</div>
<div id="slogan">live enrollment</div>
</div>
</center>

<center>
	<form class="form-horizontal" id="homesearch" action = "/search" method = "get">
		<input id="dept_num" class="input-xlarge input-append" name="course" type="text" placeholder = "ex: bio1al, chm eng 141, econ, 61a">

		<select id="sem" name="semester">
			<option value="SP">spring</option>
			<option value="SU">summer</option>
			<option value="FL">fall</option>
		</select>

	</form>
</center>

