<center>
	</br></br></br></br></br></br></br></br></br>
	<div id="hometitle">bSchedule</div>
	<div id="slogan">live enrollment</div>
		<form class="center" action = "/courses/results" method = "get">
			  <input id="dept_num" class="input-xlarge search-query" name="course" type="text" placeholder = "ex: bio1al, chm eng 141, econ, 61a" class="search-query span3">
		</form>
</center>