@import "bootstrap";

th, td {
    overflow: hidden;
    width: 100px;
    text-align: center;
}



body {
	text-align:center;
}


table {
	margin-left:auto;
	margin-right:auto;
}

nav {
	margin-bottom:5%;
}

search {
	right: 100px;
}

search {
	font-size:1.05em;
	font-family: Arial;
}

button {
	height: 27px;
}

button.i {
	right: 11px;
}

