@import "bootstrap";

body {
  background-color: #ffe187;
}

header {
  margin-top: 10px;
}

button {
  height: 27px;
  position: relative;
  top: -5px;
}

table {
  margin-right: auto;
}

th, td {
    overflow: hidden;
    text-align: left;
    padding-right: 20px;
}

table {
  border-spacing:20;
  border-collapse:collapse;
}

h5 {
  margin-bottom:-10px;
}

hr {
  border-color: #ecb520;
  margin-left: 50px;
}

center {
  text-align:center;
  font-size: 2.2em;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #0070ca;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  width: -50%;
  margin-left: 100px;
  top: -7px;
  &:hover {
    color: #0099ee;
    text-decoration: none;
  }
}

#hometitle {
  font-size: 4em;
  font-weight: bold;
  color: #006acc;
  padding-bottom: 50px;
}

.search {
  margin-right:100px;
}

.hidden {
  display: none;
}

a:link {
  color: #0099ee;
}

.offset08 {
  margin-left: 40px;
}

.center {
  float: center;
}

.span4 {
  margin-right: 30px;
}

.span7 {
  width: 560px;
}

.dl {
}