@import "bootstrap";
@import url("http://fonts.googleapis.com/css?family=Quintessential");
@import url("http://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  background-color: #ffdd7f;
  font-family: "Source Sans Pro";
  font-size: 0.95em;
}

header {
  margin-top: 10px;
}

table {
  margin-right: auto;
}

th, td {
  overflow: hidden;
  text-align: left;
}

table {
  border-collapse:collapse;
  margin-top: 8px;
}

hr {
  border-color: #ecb520;
  margin-left: 50px;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-style: italic;
}

p{
  margin-right:20px;
}

.hidden {
  display: none;
}

/* ----- NAVIGATION ----- */

#mynav {
  padding-top: 20px;
}

#logo {
  float: left;
  font-size: 1.8em;
  font-weight: bold;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  color: #0052d6;
  a:visited {
    color: #0052d6;
  }
  a:hover {
    color: #00aaff;
    text-decoration: none;
  }
}

#advanced {
  margin-left: 540px;
  margin-top: 4px;
}

#quicksearch {
  float: right;
  margin-right: 40px;
}

/* ----- HOMEPAGE ----- */

#hometitle {
  font-size: 3.7em;
  font-weight: bold;
  color: #0052d6;
  padding-top: 220px;
  padding-bottom: 20px;
  margin-left: 5px;
  float: center;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

#slogan {
  font-size: 1.5em;
  color: #08f;
  padding-bottom: 25px;
  margin-left: 5px;
  float: center;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

#semester {
  width: 86px;
}

#advlink {
}

#homenav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

/* ----- RESULTS ----- */

#searchlink {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  a:link {
    color: #0099ee;
  }
}

.section {
  width: 70px;
}
.time {
  width: 100px;
}
.place {
  width: 130px;
}
.ccn {
  width: 60px;
}
.enrolled {
  width: 70px;
}
.waitlist {
  width: 70px;
}
.closed {
  color: #ba6;
}

.control-group {
  zoom: 0.9; -moz-transform: scale(0.9); 
  border-collapse: separate;
  border-spacing: -20px;
}

