<header>
	<form class="navbar center " action = "/courses/results" method = "get">
  	   	<div class=" pull-left">
      		<%= link_to "bschedule", root_path, id: "logo" %>
    	</div>
		<div class = "search pull-right">
  			<input id="dept_num" name="dept_num" type="text" placeholder = "ex. bio eng 144, cs 188" class="search-query span9">
			<button type = "submit" class="btn btn-small active" id = "submit"  />
				<i class="icon-white icon-search pull-right"></i>
 			</button>
		</div>  
	</form>
</header>
