 <nav>
  <form class="navbar-search pull-right" action = "/courses/results" method = "get">


  <input id="dept" name="dept" type="text" placeholder = "department" class="search-query span4" />
  <input id="course_num" name="course_num" type="text" placeholder = "course number" class="search-query span4"/>
  <input name="commit" type="submit" value="submit" />


  </form>
</nav>
