 <nav>
  <form class="navbar-fixed-top center " action = "/courses/results" method = "get">

<search>
Quick Search:
</search>

  <input id="dept_num" name="dept_num" type="text" placeholder = "ex. bio eng 144, cs 188, etc" class="search-query span3">

  <button type = "submit" class="btn btn-small active "  />
<center> <i class="icon-white icon-search"></i> </center>
 	</button>



  </form>
</nav>
