 <nav>
  <form class="navbar-search pull-right" action = "/courses/results" method = "get">

<search>
Quick Search:
</search>

  <input id="dept" name="dept" type="text" placeholder = "department" class="search-query span3" />
  <input id="course_num" name="course_num" type="text" placeholder = "num" class="search-query span2"/>
  <button type = "submit" class="btn btn-small active "  />
<center> <i class="icon-white icon-search"></i> </center>
 	</button>



  </form>
</nav>
